#return_detail {
    display: none;
}

.footer span {
    font-size: 10px;
}

body {
    font-family: 'Ubuntu', 'Times New Roman', serif;
    font-weight: 400;
}

h1 {
    font-weight: 700;
    font-size: 50px;
}

.list-group-item a {
    font-size: 10px;
}

.dropdown-item {
    color: white;
}

.bg-header {
    background-image: url(../img/bg-kl.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    color: white;
}

.bg-header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.heading {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
}

.bg-car {
    background-color: rgba(240, 250, 253);
}


.bg-kl {
    background-image: url(../img/bg-kl.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contact-btn {
    width: 75%;
    display: flex;
}

.contact-btn-sm {
    display: none;
}

.car-display {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 776px) {
    .footer {
        flex-direction: column;
    }
}

.width-75 {
    width: 75%;
}

@media screen and (max-width: 1140px) {
    .contact-btn {
        width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    .bars {
        display: block;
    }
}


@media screen and (max-width:760px) {
    .width-75 {
        width: 100% !important;
    }

    .heading {
        top: 10%;
    }

    .contact-btn {
        display: block;
        text-align: center;
    }

    .contact-btn a {
        margin: 10px;
    }

    .content-1 {
        flex-direction: column;
    }

    .content-1 div {
        width: 90%;
        margin: 20px;
    }

    .car-display {
        flex-direction: column;
    }

    .car-display .col {
        margin-top: 20px;
    }

}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.center-underline {
    position: relative;
    display: inline-block;
}

.center-underline::after {
    content: "";
    display: block;
    width: 400px;
    /* Adjust the width of the underline as needed */
    height: 5px;
    /* Adjust the height of the underline as needed */
    background-color: red;
    /* Adjust the color of the underline as needed */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Center the underline horizontally */
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

/* menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}


.overlay a:hover,
.overlay a:focus {
    color: grey;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.blur {
    filter: blur(5px);
}


.table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.table th {
    border: 1px solid #000 !important;
}

#mobile-bar {
    display: none;
}


@media screen and (max-width: 565px) {
    .border {
        font-size: 14px !important;
    }
}


@media screen and (max-width: 515px) {
    #mobile-bar {
        display: block;
    }

    #bar {
        display: none;
    }


    p {
        font-size: 10px !important;
    }

    div {
        font-size: 10px !important;
    }

    .border {
        font-size: 10px !important;
    }

    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h5 {
        font-size: 13px !important;
    }

    strong {
        font-size: 11px;
    }
}

@media screen and (max-width: 380px) {
    .container {
        margin: 0 !important;
    }

    p {
        font-size: 8px !important;
    }

    small {
        font-size: 8px !important;
    }

    div {
        font-size: 8px !important;
    }

    .border {
        font-size: 8px !important;
    }

    h1 {
        font-size: 22px !important;
    }

    h2 {
        font-size: 16px !important;
    }

    h5 {
        font-size: 12px !important;
    }

    span {
        font-size: 12px !important;
    }

    strong {
        font-size: 9px;
    }

    .fa-whatsapp {
        font-size: 12px !important;
    }
}