.bg-jb {
    background-image: url(../img/johor-bahru.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-legoland {
    background-image: url(../img/legoland.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}


.bg-malacca {
    background-image: url(../img/malacca.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}


.bg-desaru {
    background-image: url(../img/desaru.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-desaru::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.bg-mersing {
    background-image: url(../img/mersing.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-port-dickson {
    background-image: url(../img/port-dickson.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-genting-highland {
    background-image: url(../img/genting-highland.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-kuala-lumpur {
    background-image: url(../img/kuala-lumpur.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: black;
    /* Change to your desired background color */
    border-color: #dee2e6 #dee2e6 black;
}

.red-line {
    display: block;
}

.jb-heading {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
}

.jb-heading h1 {
    font-size: 70px;
}

@media screen and (max-width: 1156px) {
    .jb-heading {
        top: 25%;
    }

    .jb-heading h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 994px) {
    .jb-heading h1 {
        font-size: 50px;
    }

    .jb-heading {
        top: 10%;
    }

}

@media screen and (max-width: 700px) {
    .bg-kuala-lumpur {
        height: 700px;
    }

    .jb-heading h1 {
        font-size: 20px;
    }

    .jb-heading {
        top: 5%;
    }

    .car-flex {
        flex-direction: column-reverse;
    }

    .jb-heading .my-5 {
        margin: 0px !important;
    }

    .red-line {
        display: none;
    }

    .bg-car .fs-5 {
        font-size: 15px !important;
    }
}