.bg-jb {
    background-image: url(../img/johor-bahru.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-jb::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-legoland {
    background-image: url(../img/legoland.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-legoland::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.bg-malacca {
    background-image: url(../img/malacca.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-malacca::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.bg-desaru {
    background-image: url(../img/desaru.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-desaru::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}



.bg-mersing {
    background-image: url(../img/mersing.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-mersing::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-port-dickson {
    background-image: url(../img/port-dickson.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-port-dickson::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-genting-highland {
    background-image: url(../img/genting-highland.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-genting-highland::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.bg-kuala-lumpur {
    background-image: url(../img/kuala-lumpur.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 805px;
    position: relative;
    color: white;
}

.bg-kuala-lumpur::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: black;
    /* Change to your desired background color */
    border-color: #dee2e6 #dee2e6 black;
}

.red-line {
    display: block;
}

.jb-heading {
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
}

.jb-heading h1 {
    font-size: 70px;
}

@media screen and (max-width: 1200px) {
    .jb-heading {
        top: 25%;
    }

    .jb-heading h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 994px) {
    .jb-heading h1 {
        font-size: 50px;
    }

    .jb-heading {
        top: 10%;
    }

}

@media screen and (max-width: 770px) {
    .bg-malacca {
        height: 700px;
    }

    .bg-kuala-lumpur {
        height: 700px;
    }

    .bg-desaru {
        height: 700px;
    }

    .jb-heading h1 {
        font-size: 25px;
    }

    .jb-heading h5 {
        font-size: 15px;
    }

    .jb-heading {
        top: 10%;
    }

    .car-flex {
        flex-direction: column-reverse;
    }

    .jb-heading .my-5 {
        margin: 0px !important;
    }

    .red-line {
        display: none;
    }

    .bg-car .fs-5 {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 515px) {
    .jb-heading {
        top: 5%;
    }

    .text-danger {
        font-size: 15px !important;
    }

    .bg-jb {
        height: 600px !important;
    }

    .bg-kuala-lumpur {
        height: 550px !important;
    }

    .bg-genting-highland {
        height: 550px !important;
    }

    .bg-legoland {
        height: 550px !important;
    }

    .bg-malacca {
        height: 550px !important;
    }

    .bg-mersing {
        height: 550px !important;
    }

    .bg-port-dickson {
        height: 550px !important;
    }
}

@media screen and (max-width: 380px) {
    .jb-heading h1 {
        font-size: 20px !important;
    }

    .jb-heading h5 {
        font-size: 14px !important;
    }

    .text-danger {
        font-size: 12px !important;
    }
}